<section id="footer" class="footer-section py-5">
    <div class="container-xl">
        <div class="footer-row row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-md-0">
                <div class="footer-about">
                    <h3 class="footer-title">About Us</h3>
                    <hr class="footer-line mb-4">
                    <p class="footer-text">Rizzards is an innovative student management website streamlining
                        enrollment, scheduling, and performance tracking for a seamless educational experience.
                    </p>
                    <ul class="social-icons d-flex flex-wrap justify-content-start justify-content-sm-center justify-content-md-start">
                        <li class="me-2 mb-2"><a href="https://www.facebook.com" class="facebook" title="Facebook" target="_blank"><i
                                    class="fab fa-facebook"></i></a></li>
                        <li class="me-2 mb-2"><a href="https://plus.google.com" class="google" title="Google+" target="_blank"><i
                                    class="fab fa-google"></i></a></li>
                        <li class="me-2 mb-2"><a href="https://www.linkedin.com" class="linkedin" title="LinkedIn" target="_blank"><i
                                    class="fab fa-linkedin"></i></a></li>
                        <li class="mb-2"><a href="https://www.instagram.com" class="instagram" title="Instagram" target="_blank"><i
                                    class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-12 mb-4 mb-md-0">
                <div class="footer-links">
                    <h3 class="footer-title">Our Links</h3>
                    <hr class="footer-line mb-4">
                    <div class="row">
                        <h6 class="link-item col-md-12 col-6"><a class="footer-link" href="/dashboard">Home</a></h6>

                        <h6 class="link-item mt-2 col-md-12 col-6"><a class="footer-link" href="/about">About</a></h6>
                        <h6 class="link-item mt-2 col-md-12 col-6"><a class="footer-link" href="/course">Courses</a>
                        </h6>
                        <h6 class="link-item mt-2 col-md-12 col-6"><a class="footer-link" href="/faq">Faq</a>
                        </h6>
                        <h6 class="link-item mt-2 col-md-12 col-6"><a class="footer-link" href="/contact">Contact Us</a>
                        </h6>
                        <h6 class="link-item mt-2 col-md-12 col-6"><a class="footer-link" href="/blog">Blog</a>
                        </h6>
                    </div>
                </div>
            </div>            <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mb-md-0">
                <div class="footer-notes">
                    <h3 class="footer-title">Notes</h3>
                    <hr class="footer-line mb-4">
                    <div class="row note-item">
                        <div class="col-md-3 col-3 pe-0">
                            <div class="note-image">
                                <figure class="note-effects">
                                    <a href="#"><img src="/images/2.avif" class="w-100" alt="img1"></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-9 col-9">
                            <div class="note-content">
                                <p class="note-text mb-1"><a class="footer-link" href="#">Education is the key
                                        that unlocks the door to a brighter future.</a></p>
                                <h6 class="note-date">16 Aug, 2024</h6>
                            </div>
                        </div>
                    </div>
                    <hr class="footer-divider">
                    <div class="row note-item">
                        <div class="col-md-3 col-3 pe-0">
                            <div class="note-image">
                                <figure class="note-effects">
                                    <a href="#"><img src="/images/blog/image5.jpg" class="w-100" alt="img2"></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-9 col-9">
                            <div class="note-content">
                                <p class="note-text mb-1"><a class="footer-link" href="#">University management
                                        ensures academic excellence by effectively coordinating resources and
                                        policies.</a></p>
                                <h6 class="note-date">25 Sep, 2024</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="footer-contact">
                    <h3 class="footer-title">Contact Us</h3>
                    <hr class="footer-line mb-4">
                    <div class="contact-item row">
                        <div class="col-md-2 col-2">
                            <div class="contact-icon-wrapper">
                                <div class="contact-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10 col-10">
                            <div class="contact-info">
                                <h6 class="contact-text mb-0 lh-base"><a class="footer-link"
                                        href="#">+123-456-7890</a><br>
                                    <a class="footer-link" href="#">+123-456-7890</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <hr class="footer-divider">
                    <div class="contact-item row">
                        <div class="col-md-2 col-2">
                            <div class="contact-icon-wrapper">
                                <div class="contact-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10 col-10">
                            <div class="contact-info">
                                <h6 class="contact-text mb-0 lh-base"><a class="footer-link"
                                        href="#">deepanshusingla076@gmail.com</a><br>
                                    <a class="footer-link" href="#">info@gmail.com</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <hr class="footer-divider">
                    <div class="contact-item row">
                        <div class="col-md-2 col-2">
                            <div class="contact-icon-wrapper">
                                <div class="contact-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10 col-10">
                            <div class="contact-info">
                                <h6 class="contact-text mb-0 lh-base"><a class="footer-link" href="#">chitkara
                                        university</a><br>
                                    <a class="footer-link" href="#">Rajpura</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer-bottom" class="footer-bottom-section">
    <div class="container-xl">
        <div class="footer-bottom-content col-md-12">
            <p class="footer-bottom-text mb-0">
                © 2024 Rizzards. All Rights Reserved | Design by <a href="#" class="footer-bottom-link">Group 18</a>
            </p>
        </div>
    </div>
</section>

<script src="/script/chatbot.js"></script>
<script src="/script/loader.js"></script>
<script src="/script/responsive.js"></script>