<div class="loader-wrapper" id="loader-wrapper">
    <div class="loader-content">
        <div class="university-icon">
            <i class="fas fa-graduation-cap"></i>
        </div>
        <div class="loader"></div>
        <div class="loader-text">RIZZARDS UNIVERSITY</div>
        <div class="loader-subtext">Transforming Knowledge into Success</div>
    </div>
</div>